<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mail</title>
</head>
<body>
    <p>Your leave request</p>
    <h3 style="margin-bottom: 0" th:text="${leaveRequest.type.name}"></h3>
    <span th:text="${#temporals.format(leaveRequest.fromDate, 'dd.MM.yyyy HH:mm')}"></span> - <span th:text="${#temporals.format(leaveRequest.toDate, 'dd.MM.yyyy HH:mm')}"></span>
    <p>was REJECTED</p>

    <hr/>
    <footer style="">Day Off Planner</footer>
</body>
</html>
